.headline,.title,.subtitle{
    font-family: 'Press start 2P', cursive;
    text-shadow: .4rem .4rem 0 #000000;
}

.headline{
    font-size: 4rem;
}
.title{
    font-size: 3rem;


}

.subtitle{
    font-size: 2.5rem;
}

.fira-md, .fira-light, .fira-caption{
    font-family: "Fira code", monospace;
}

.fira-md{
    font-weight: 500;
    font-size: 2rem;
}
.fira-light{
    font-weight: 300;

    font-size: 3rem;
}
.fira-caption{
    font-size: 2rem;
}