@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Press+Start+2P&display=swap");

:root {
  --primary-color: #4831d4;
  --secondary-color: #ccf381;
  --white-color: #fff;
  --alt-color:#333;
}

/* Typography
    font-family: 'Fira Code', monospace;

    font-family: 'Press Start 2P', cursive;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Fira Code", monospace;
  font-size: 1.6rem;
  color: var(--white-color);
}
a{
  font-family: "Fira code", monospace;
}



